body{
    background-color: rgb(122, 121, 121);    
    margin: auto;
}

nav{
    font-family: Arial, Helvetica, sans-serif;
}

.navbar{
    position: fixed;
    left: 0;
    top: 0;
    right: 0;
}



.column{
    margin: auto 10px auto 10px;
}

.message-header {
    padding: 0px 0px 0px 0px;
}

p .nome{
    font-family: Arial, Helvetica, sans-serif;
}

.message .message-header img{
    padding: auto auto auto auto;
}

footer{
    background-color: black;
}

.subtitle{
    background-color: white;
    color: white;
}

.img{
    border-radius: 5px;
}